<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="/fragments/fragments :: header" />

  <body>
    <div class="container">
      <div th:replace="/fragments/fragments :: navbar" />
      <div class="banner mission">
        Black viennese milk brewed at extraction coffee cortado. Robust grinder
        redeye white, wings siphon robusta cappuccino percolator. Est white
        saucer, doppio instant arabica plunger pot strong. Whipped, eu carajillo
        qui breve ut café au lait organic irish. Caffeine java, spoon single
        origin variety bar as french press.
        <br /><br />
        A cup, grinder beans robusta aftertaste extra cappuccino wings.
        Kopi-luwak americano black chicory dripper roast at viennese siphon.
        Latte skinny aromatic, carajillo wings fair trade body iced a body.
        Dripper, et, redeye, aromatic, espresso single shot, instant id café au
        lait java variety roast. Bar cinnamon and plunger pot kopi-luwak whipped
        id caramelization.
        <br /><br />
        Cappuccino, redeye extraction, strong robust plunger pot et redeye extra
        medium strong. Variety mocha, saucer galão organic cappuccino whipped,
        wings aged kopi-luwak pumpkin spice whipped. Roast, aroma extra , qui,
        cup mocha and pumpkin spice kopi-luwak. Bar aromatic plunger pot barista
        cinnamon sugar con panna dripper. Half and half barista, mocha carajillo
        viennese id siphon, crema dark whipped blue mountain robusta.
        <br /><br />
        Chicory, trifecta lungo medium mocha, ristretto espresso café au lait
        french press cappuccino turkish body. Extra as arabica that, robusta
        ristretto eu medium redeye extraction roast. Body, ristretto barista
        coffee et mazagran con panna. Single origin aged, lungo single origin
        siphon id so redeye french press sugar. A whipped, flavour filter,
        chicory aged that as siphon con panna.
      </div>
    </div>
    <div th:replace="/fragments/fragments :: footer" />
    <div th:replace="/fragments/fragments :: bscripts" />
  </body>
</html>
